<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group" >
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" name="description">

            <label for="videoID">VideoID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>   
    </form>
</div>